header{
    margin: 10px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 210px;
    text-decoration: none;
}
.nav-area{
    list-style: none;
}
.nav-area li{
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
    text-decoration: none;
}
.nav-area li a{    
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;  
    text-decoration: none;
}
.nav-area li a:hover{    
    color: #da6a6a;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;   
    text-decoration: none;  
}
footer{
    background-color: #da6a6a;
    padding: 2% 8%;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 500;
}
.container{
    padding-left: 15%;
    width: 70%;
    height: 70%;
}
.swiper {
width: 80%;
height: fit-content;
}
.swiper-slide img {
width: 100%;    
}
.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: #000000;    
}
.swiper .swiper-pagination-bullet-active {
    background: #000000;
}


.journalcontainer {
    margin: 10px 150px 10px 150px; 
    font-family: Georgia;
    font-size: 20px;
    color: #2f3030;
}
a{
    text-decoration: none;
}
.button {
    background-color: #51B59F; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
}
.journalcontainer {
    background-color: #bed7fd;
    padding: 40px;
    border-radius: 20px;
}